<% include header.ejs %>

  <form action="/sign-in" method="post">
    <input type="" name="email" placeholder="email" value="blah">
    <input type="password" name="password" placeholder="password" value="password">
    <input type="submit" value="sign-in">
  </form>

<% include footer.ejs %>
